@font-face {
    font-family: 'Knowledge Sketch Clean';
    src: url('KnowledgeSketchClean.woff2') format('woff2'),
        url('KnowledgeSketchClean.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

